---
const blogs = [{"link": "post-1", "title": "我准备好了"}];
---
<html lang = "zh">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/blog/">博客</a>

    <ul>
      {blogs.map((blog) => <li class="blog"><a href={`/posts/${blog.link}/`}>{blog.title}</a></li>)}
    </ul>
  </body>
</html>