---
import BaseLayout from '../../layouts/BaseLayout.astro'
import TwentyFourGame from '../../components/TwentyFourGame'
---

<BaseLayout title="24 点 - 木风">
  <div class="twenty-four-page">
    <TwentyFourGame client:load />
  </div>
</BaseLayout>
