---
import BaseLayout from '../../layouts/BaseLayout.astro'
import KongmingGame from '../../components/KongmingGame'
---

<BaseLayout title="孔明棋 - 木风">
  <div class="kongming-page">
    <KongmingGame client:load />
  </div>
</BaseLayout>
