---
import BaseLayout from '../../layouts/BaseLayout.astro'
import UntangleGame from '../../components/UntangleGame'
---

<BaseLayout title="解线 - 木风">
  <div class="untangle-page">
    <UntangleGame client:load />
  </div>
</BaseLayout>
